port_profiles:

  PP-VLAN10:
    mode: "access"
    vlans: "10"
    spanning_tree_portfast: edge
  PP-VLAN20:
    mode: "access"
    vlans: "20"
    spanning_tree_portfast: edge
  PP-VLAN30:
    mode: "access"
    vlans: "30"
    spanning_tree_portfast: edge
  PP-VLAN40:
    mode: "access"
    vlans: "40"
    spanning_tree_portfast: edge

###########################################################
# ---------------- Endpoint Connectivity ---------------- #
###########################################################

servers:

{% for endpoint in connected_endpoints.list %}
  {{ endpoint.hostname }}:
    adapters:
      - switches: [ {{ endpoint.leafa }}, {{ endpoint.leafb }} ]
        switch_ports: [ {{ endpoint.porta }}, {{ endpoint.portb }} ]
        profile: {{ endpoint.port_profile }}
{% if endpoint.port_channel is defined and endpoint.port_channel == "true" %}
        port_channel:
          mode: {{ endpoint.mode }}
{% endif %}

{% endfor %}
