port_profiles:

  PP-VLAN10:
    mode: "access"
    vlans: "10"
    spanning_tree_portfast: edge
  PP-VLAN20:
    mode: "access"
    vlans: "20"
    spanning_tree_portfast: edge

###########################################################
# ---------------- Endpoint Connectivity ---------------- #
###########################################################

servers:

{% for host in endpoints.list %}
  {{ host.host }}:
    adapters:
      - switches: [ {{ host.leafa }}, {{ host.leafb }} ]
        switch_ports: [ {{ host.porta }}, {{ host.portb }} ]
        profile: {{ host.port_profile }}
{% if host.port_channel is defined and host.port_channel == "true" %}
        port_channel:
          mode: {{ host.mode }}
{% endif %}

{% endfor %}
